img {
    width: 200px;
    height: 200px;
}

html {
    text-align: center;
}

.mynavbar {
    position: sticky;
    z-index: 1000;
    top: 0;
}
.img-responsive {
    width: 350px;
    height: 200px;
    margin-left: 200px;
}
#campus {
    margin-bottom: 200px;
    margin-left: 200px;
}
#campus img {
    margin: auto;
}
.innovation {
    width: 230px;
    height: 170px;
    text-align: center;
}
#new {
    text-align: center;
}



